<div class="container bg-white rounded-2 p-4 my-5 shadow">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h4 class="mb-0">Nuovo movimento in uscita</h4>
        <div class="d-flex align-items-center justify-content-center">
            Indietro
            <button
                class="btn btn-outline-secondary rounded-circle ms-2 d-flex justify-content-center align-items-center"
                style="width: 46px; height: 46px;" [routerLink]="['/home']"
                routerLinkActive="router-link-active">
                <span class="material-symbols-outlined">
                    undo
                </span>
            </button>
        </div>
    </div>
    <form #newExpense="ngForm">
       
    </form>
</div>