<div class="container bg-white rounded-2 p-4 my-5 shadow bounce-in-top">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h4 class="mb-0">Nuovo movimento in entrata</h4>
        <div class="d-flex align-items-center justify-content-center">
            Chiudi
            <button
                class="btn btn-outline-secondary rounded-circle ms-2 d-flex justify-content-center align-items-center"
                style="width: 46px; height: 46px;" [routerLink]="['/home']" routerLinkActive="router-link-active">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>
    </div>
    <form #newIncome="ngForm" (submit)="createIncome(newIncome)">
        <div class="row gy-2 overflow-hidden">
            <div class="col-12 col-lg-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="Ammontare €"
                        min="0" required ngModel>
                    <label for="amount" class="form-label">Ammontare €</label>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="tag" id="tag" placeholder="descrivilo con una parola"
                         ngModel>
                    <label for="tag" class="form-label">Tag</label>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="comment" id="comment"
                        placeholder="descrivilo con una parola"  ngModel>
                    <label for="comment" class="form-label">Commento</label>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="form-floating mb-3">
                    <select class="form-select" name="category" id="category" required ngModel>
                        <option value="ALTRO" selected>Altro</option>
                        <option value="STIPENDIO">Stipendio</option>
                        <option value="REGALO">Regalo</option>
                        <option value="VINCITA">Vincita</option>
                        <option value="INTERESSI">Interessi</option>
                    </select>
                    <label for="category" class="form-label">Categoria</label>
                </div>
            </div>
            
            <div class="col-12 col-lg-6">
                <div class="form-floating pt-3 d-flex justify-content-center align-items-center">
                    <div class="form-check form-switch w-100">
                        <label for="category" class="form-label">Ricorrente</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="isRecurring" name="isRecurring" [(ngModel)]="isRecurring" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
               
            </div>
            <div class="col-12 col-lg-6" *ngIf="!isRecurring">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="date" id="date"
                        placeholder="descrivilo con una parola" required ngModel>
                    <label for="date" class="form-label">Data</label>
                </div>
            </div>
            <div class="col-12 col-lg-6" *ngIf="isRecurring">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="startDate" id="startDate"
                        placeholder="descrivilo con una parola" required ngModel>
                    <label for="startDate" class="form-label">Data inizio</label>
                </div>
            </div>
            <div class="col-12 col-lg-6" *ngIf="isRecurring">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="endDate" id="endDate"
                        placeholder="descrivilo con una parola" required ngModel>
                    <label for="endDate" class="form-label">Data fine</label>
                </div>
            </div>
            <div class="col-12 col-lg-6" *ngIf="isRecurring">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="intervalDays" id="intervalDays" placeholder="Ammontare €"
                        min="0" required ngModel>
                    <label for="intervalDays" class="form-label">Intervallo in giorni</label>
                </div>
            </div>

            <div class="col-12">
                <div class="d-grid my-3">
                    <button class="btn btn-lg" type="submit" id="authBtn"
                        [disabled]="!newIncome.valid">Salva
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>