<div class="container bg-white rounded-2 p-4 mb-5 shadow">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h4 class="mb-0">Dettagli utente</h4>
    <div class="d-flex align-items-center justify-content-center">
      Modifica
      <button class="btn bottone rounded-circle ms-2 d-flex justify-content-center align-items-center"
        style="width: 46px; height: 46px;" [routerLink]="['/profile-settings/edit-profile']"
        routerLinkActive="router-link-active">
        <span class="material-symbols-outlined">
          edit
        </span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3 testoBluScuro">{{user?.user?.firstName}}</h5>
            <p class="text-muted mb-1">{{user?.user?.email}}</p>
            <p class="text-muted mb-4">Numero di conti: {{user?.user?.accounts?.length}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">ID utente</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">#{{user?.user?.id}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">Nome</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.user?.firstName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">Cognome</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.user?.lastName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.user?.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">Telefono</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.user?.phoneNumber}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 testoBluScuro">Data di nascita</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.user?.dateOfBirth}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container shadow bg-white rounded-2 p-4 " style="margin-top: 80px; margin-bottom: 100px;">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Dettagli conto</h4>
    <div class="d-flex align-items-center justify-content-center">
      Modifica
      <button class="btn bottone rounded-circle ms-2 d-flex justify-content-center align-items-center"
        style="width: 46px; height: 46px;" routerLinkActive="router-link-active" data-bs-toggle="modal"
        [attr.data-bs-target]="'#modaleModifica'+account.id">
        <span class="material-symbols-outlined">
          edit
        </span>
      </button>
    </div>
  </div>
  <div class="container mt-5" >
    <div class="row">
      <div class="col-12  mb-4">
        <div class="card" >
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title testoBluScuro mb-0"> {{ account?.name }}</h5>
            </div>
            <p class="testoBluScuro"> {{ account?.description }} </p>
            <p class="testoBluScuro">ID: #{{ account?.id }} </p>
            <p class="text-body-tertiary">Creato il: {{account.creationDate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Modale modifica-->
<div class="modal fade" id="modaleModifica{{account.id}}" tabindex="-2" role="dialog"
  aria-labelledby="modaleModificaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica info conto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateAccountForm="ngForm" (submit)="updateAccount(account.id, updateAccountForm)">
          <div class="row gy-2 overflow-hidden">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="name" id="name" required [ngModel]="account.name">
                <label for="name" class="form-label">Nome del conto</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <textarea class="form-control" rows="8" name="description" id="description" required
                  [ngModel]="account.description"></textarea>
                <label for="description" class="form-label">Descrizione</label>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn w-50 bottone align-self-end" [disabled]="updateAccountForm.invalid">Modifica</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>



