<div class="container mt-5">
    <h2>Errore 404 - Non trovato!</h2>
    <p class="text-body-tertiary">La risorsa a cui stai cercando di accedere non esiste.</p>
    <p class="testoBluScuro d-inline m-5"><a [routerLink]="['/home']" class="nav-link d-flex align-items-center" ><span class="material-symbols-outlined"
        style="font-size: 28px;">
        home
    </span><span>&nbsp;- Vai alla dashboard</span></a></p>
</div>


<div class="container rounded-2 bg-white mb-5 p-4 shadow border-0" >
    <div class="d-flex justify-content-center align-items-center" style="height: 40vh; font-size: 200px;">
        ❌
    </div>
</div>