/* You can add global styles to this file, and also import other style files */

body{
    margin-left: 80px;
    background-color: #F5F8FB;
    color: 	#1F2C73 !important;
    font-family: "Inter", sans-serif;
    font-weight: 400 !important;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

// a, .dropdown-item {
//     font-weight: 600;
// }

#authBtn,
.bottone{
    background-color: #122ca9;
    color: white;
}

#authBtn:hover,
.bottone:hover{
    color: white;
    background-color: #1391c1;
}

.toast-top-center{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.toast-success {
    background-color: #51A351 !important;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .toast-error {
    background-color: #BD362F !important;
    color: white;
    padding: 20px;
    border-radius: 8px;

  }

@media (max-width: 768px) {
    body{
        margin: 0px;
    }
}