.list-group-item{
    color: #1F2C73;
}

.full-width-modal {
    width: 100%;
  }
  
  .modal-xl {
    max-width: 100%;
  }
  
  .modal-content {
    border-radius: 0;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: end;
  }
  
  .modal-body {
    text-align: center;
    font-size: 1.2rem;
  }